/* Show it is fixed to the top */
body {
  /*min-height: 75rem;*/
  /*padding-top: 4.5rem;*/
}

#particle {
  /*background: #212121;*/
  background: url('../img/main-bg-old.jpg');
  height: 500px;
  width: 100%;
  background-size: cover;
}

h1 {
  color: white;
  font-family: 'Muli', sans-serif;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
p {
  font-family: 'Muli', sans-serif;

}
.navbar-inverse .navbar-toggler {
  border-color: #eee;
}

.navbar-inverse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>") !important;
}

.white-navbar {
  background: #fff;
  font-family: 'Muli', sans-serif;
  border-bottom: 1px solid #ccc;
}
.navbar-brand {
  color: #000 !important;
}
.nav-item .nav-link{
  color: #000 !important;
}
/* Overlay */
.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
}
.item:hover .overlay {
    opacity: 1;
}
.overlay-middle-text {
  font-family: 'Muli', sans-serif;
  font-weight: 900;
  color: white;
  text-align: center;
  vertical-align: middle;
  z-index: 5;
}
.overlay-middle-text-pos {
    position: relative;
    top: 40%;
}
/* Font colors */
.text-black {
  color: #000 !important;
}
.text-white {
    color: #fff !important;
}
.text-decoration-none:hover {
    text-decoration: none;
}
/* Font sizes */
.font-size-30 {
    font-size: 30px;
}
/* Background colors */
.gray-bg {
  background-color: #eee !important;
}
.white-bg {
  background-color: #fff !important;
}
/* Primary and Secondary DIV */
.secondary-div {

}
.primary-div {

}
/*// Extra small devices (portrait phones, less than 576px)*/
/*// No media query since this is the default in Bootstrap*/
/*Small Devices*/
@media (min-width: 360px) and (max-width: 543px) {
    .overlay-middle-text-pos {
        position: relative;
        top: 10%;
        padding: 10px;
    }
    .text-decoration-none i {
        font-size: 20px !important;
    }


}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 544px) and (max-width: 767px) {
    .overlay-middle-text-pos {
        position: relative;
        top: 27%;
        padding: 10px;
    }
    .text-decoration-none i {
        font-size: 25px !important;
    }

}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 1023px) {}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 1024px) and (max-width: 1199px) {

}
/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1368px) {

}
@media (min-width: 1369px) and (max-width: 1440px){

}

@media (min-width: 1441px)  {

}
